body {
    font-family: sans-serif;
}

header {
    margin: 10px;
}

ul {
    width: 250px;
    border: 5px dotted rgb(12, 22, 207);
}

li {
    border-bottom: 1px solid rebeccapurple;
    width: 250px;
}

h1 {
    color: red;
    background-color: lightblue;
    width: 300px;
}

ul:hover {
    background-color: lightgreen;
}
